body {
  font-size: calc(2px + 2vmin);
  text-align: center;
  background: rgb(242, 243, 239);
  font-family: "Noto Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
